<!DOCTYPE HTML>
<html>
	<head>
		<title>Start</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	</head>

	<body class="">

	<div class="container">
		<div class="card">
			<div class="card-body">
				<div class="col-sm-3">
					<form action="" method="">
						<label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
						<div class="input-group mb-2 mb-sm-0">
							<div class="input-group-addon">#</div>
							<input type="text" class="form-control" id="hastagText" placeholder="hashtag" name="hashtag">
							<button type="submit" class="btn btn-primary">Enviar</button>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>

		<script src="{{ assets('home/js/jquery.min.js') }}"></script>

		<script>
			$( document ).ready(function() {
				$('form').submit(function(){
					$.ajax({
						type: "POST",
						url: '/hashtag',
						data: {hastag: $('#hastagText').val()},
						success: function (result) {
							console.log(result);
						},
						error: function(result){
							alert('error');					}
					});
				});
			});

		</script>
	</body>
</html>